:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 36px;
  overflow: auto;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.testimonial-card-1 {
  --background: var(--ig-surface-200);
  min-width: 320px;
  max-width: 560px;
  flex-grow: 1;
  flex-basis: 0;
}
.testimonial-column-layout-1 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.testimonial-row-layout-1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.user-info-column-1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  height: max-content;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.feature-card-1 {
  --background: var(--ig-surface-200);
  --outline-color: var(--ig-primary-50);
  min-width: 240px;
  max-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.featured-product-card-1 {
  --background: var(--ig-surface-200);
  width: 281px;
  height: 324px;
  min-width: 160px;
  min-height: 324px;
  max-width: 281px;
  max-height: 324px;
}
.column-layout-1-0-8 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.row-layout-1-4-5 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  min-width: 16px;
  min-height: 16px;
  flex-shrink: 0;
}
.featured-product-card-3 {
  --background: var(--ig-surface-200);
  width: 280px;
  height: 324px;
  min-width: 160px;
  min-height: 324px;
  max-width: 280px;
  max-height: 324px;
}
.kanban-task-card-1 {
  --outline-color: var(--ig-primary-50);
  min-width: 320px;
  max-width: 360px;
  flex-grow: 1;
  flex-basis: 0;
}
.kanban-task-card-1-column-layout {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  max-height: 100%;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.kanban-task-card-1-row-layout {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  align-self: stretch;
  flex-shrink: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.user-avatar-1 {
  --ig-size: var(--ig-size-small);
  --igx-avatar-background: var(--ig-secondary-100);
}
.feature-avatar-2 {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: var(--ig-secondary-100);
}
.icon {
  color: var(--ig-secondary-100-contrast);
}
.image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.user-avatar-1_1::part(base) {
  --igx-avatar-color: var(--ig-secondary-100-contrast);
}
.user-avatar-1_2::part(base) {
  --igx-avatar-color: var(--ig-secondary-100-contrast);
}
.user-avatar-1_3::part(base) {
  --igx-avatar-color: var(--ig-secondary-100-contrast);
}
.feature-avatar-2_1::part(base) {
  --igx-avatar-color: var(--ig-secondary-100-contrast);
}
.feature-avatar-2_2::part(base) {
  --igx-avatar-color: var(--ig-secondary-100-contrast);
}
.feature-avatar-2_3::part(base) {
  --igx-avatar-color: var(--ig-secondary-100-contrast);
}
.testimonial-rating-1 {
  --ig-size: var(--ig-size-medium);
  width: max-content;
  height: max-content;
}
.feature-button-1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.rating-1-7 {
  --ig-size: var(--ig-size-small);
  width: max-content;
  height: max-content;
}
.kanban-task-card-1-badge {
  width: max-content;
  height: max-content;
}
