<div class="column-layout group">
  <div class="row-layout group_1">
    <igx-card [elevated]="true" class="testimonial-card-1">
      <igx-card-content>
        <div class="column-layout testimonial-column-layout-1">
          <p class="content">
            "This app has transformed my daily routine! I'm so much more productive now."
          </p>
          <igc-rating [(ngModel)]="ngModel" class="testimonial-rating-1"></igc-rating>
          <div class="row-layout testimonial-row-layout-1">
            <igx-avatar initials="JS" shape="circle" class="user-avatar-1 user-avatar-1_1"></igx-avatar>
            <div class="column-layout user-info-column-1">
              <p class="ig-typography__subtitle-2 content">
                Jane Smith
              </p>
              <p class="ig-typography__body-2 content">
                New York, USA
              </p>
            </div>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card [elevated]="true" class="testimonial-card-1">
      <igx-card-content>
        <div class="column-layout testimonial-column-layout-1">
          <p class="content">
            "The customer support is exceptional, always quick to help with any questions.""The customer support is exceptional, always quick to help with any questions."
          </p>
          <igc-rating [(ngModel)]="ngModel1" class="testimonial-rating-1"></igc-rating>
          <div class="row-layout testimonial-row-layout-1">
            <igx-avatar initials="MA" shape="circle" class="user-avatar-1 user-avatar-1_2"></igx-avatar>
            <div class="column-layout user-info-column-1">
              <p class="ig-typography__subtitle-2 content">
                Maria Alva
              </p>
              <p class="ig-typography__body-2 content">
                London, UK
              </p>
            </div>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card [elevated]="true" class="testimonial-card-1">
      <igx-card-content>
        <div class="column-layout testimonial-column-layout-1">
          <p class="content">
            "A fantastic product, it's user-friendly and packed with useful features."
          </p>
          <igc-rating [(ngModel)]="ngModel2" class="testimonial-rating-1"></igc-rating>
          <div class="row-layout testimonial-row-layout-1">
            <igx-avatar initials="DR" shape="circle" class="user-avatar-1 user-avatar-1_3"></igx-avatar>
            <div class="column-layout user-info-column-1">
              <p class="ig-typography__subtitle-2 content">
                David Rodriguez
              </p>
              <p class="ig-typography__body-2 content">
                Berlin, Germany
              </p>
            </div>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
  </div>
  <div class="row-layout group_2">
    <igx-card class="feature-card-1">
      <igx-card-content>
        <div class="column-layout testimonial-column-layout-1">
          <igx-avatar shape="circle" class="feature-avatar-2 feature-avatar-2_1">
            <igx-icon class="icon">
              rocket_launch
            </igx-icon>
          </igx-avatar>
          <h6 class="content">
            Blazing Fast Performance
          </h6>
          <p class="content">
            Experience lightning-fast speeds and seamless responsiveness.
          </p>
        </div>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="flat" type="button" class="feature-button-1">
            <span>Learn more</span>
            <igx-icon>
              arrow_right_alt
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card class="feature-card-1">
      <igx-card-content>
        <div class="column-layout testimonial-column-layout-1">
          <igx-avatar shape="circle" class="feature-avatar-2 feature-avatar-2_2">
            <igx-icon class="icon">
              security
            </igx-icon>
          </igx-avatar>
          <h6 class="content">
            Ironclad Security
          </h6>
          <p class="content">
            Your data is protected with state-of-the-art encryption.
          </p>
        </div>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="flat" type="button" class="feature-button-1">
            <span>Learn more</span>
            <igx-icon>
              arrow_right_alt
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card class="feature-card-1">
      <igx-card-content>
        <div class="column-layout testimonial-column-layout-1">
          <igx-avatar shape="circle" class="feature-avatar-2 feature-avatar-2_3">
            <igx-icon class="icon">
              support_agent
            </igx-icon>
          </igx-avatar>
          <h6 class="content">
            24/7 Customer Support
          </h6>
          <p class="content">
            Our dedicated team is always here to help you.Our dedicated team is always here to help you.Our dedicated team is always here to help you.
          </p>
        </div>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="flat" type="button" class="feature-button-1">
            <span>Learn more</span>
            <igx-icon>
              arrow_right_alt
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
  </div>
  <div class="row-layout group_3">
    <igx-card [elevated]="true" class="featured-product-card-1">
      <igx-card-media height="200px">
        <img src="/assets/Auto%20generated%20image%20for%207da6708a-d222-4f3a-a9ff-bfcea2c926cb-347dc414-dbca-4fe2-a0e7-8f9fdbbd76ce.png" alt="" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Wireless Headphones
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content>
        <div class="column-layout column-layout-1-0-8">
          <div class="row-layout row-layout-1-4-5">
            <igc-rating [(ngModel)]="ngModel3" class="rating-1-7"></igc-rating>
            <p class="ig-typography__body-2 content">
              (245)
            </p>
          </div>
          <h6 class="content">
            $99.99
          </h6>
        </div>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="contained" type="button" class="feature-button-1">
            <igx-icon>
              add_shopping_cart
            </igx-icon>
            <span>Add to cart</span>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card [elevated]="true" class="featured-product-card-1">
      <igx-card-media height="200px">
        <img src="/assets/Auto%20generated%20image%20for%203f01b243-8384-40c5-8ad4-d370d6fd8f79-2fba9643-f472-42fd-9aaf-f2cdd39b658d.png" alt="" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Smartwatch
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content>
        <div class="column-layout column-layout-1-0-8">
          <div class="row-layout row-layout-1-4-5">
            <igc-rating [(ngModel)]="ngModel4" class="rating-1-7"></igc-rating>
            <p class="ig-typography__body-2 content">
              (187)
            </p>
          </div>
          <h6 class="content">
            $199.99
          </h6>
        </div>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="contained" type="button" class="feature-button-1">
            <igx-icon>
              add_shopping_cart
            </igx-icon>
            <span>Add to cart</span>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card [elevated]="true" class="featured-product-card-3">
      <igx-card-media height="200px">
        <img src="/assets/Auto%20generated%20image%20for%20171fb10b-2cc5-4781-98b9-ee490a23e8dc-c2998903-c827-4fc9-8924-775d750c9dbb.png" alt="" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Portable Speaker
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content>
        <div class="column-layout column-layout-1-0-8">
          <div class="row-layout row-layout-1-4-5">
            <igc-rating [(ngModel)]="ngModel5" class="rating-1-7"></igc-rating>
            <p class="ig-typography__body-2 content">
              (312)
            </p>
          </div>
          <h6 class="content">
            $79.99
          </h6>
        </div>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="contained" type="button" class="feature-button-1">
            <igx-icon>
              add_shopping_cart
            </igx-icon>
            <span>Add to cart</span>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card [elevated]="true" class="featured-product-card-1">
      <igx-card-media height="200px">
        <img src="/assets/Auto%20generated%20image%20for%20bd1a16b7-0500-4bf4-9b2b-dae0b24116c1-5f3ffd4b-ea1d-4721-8b13-6d5ceb4a27bd.png" alt="" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Gaming Mouse
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content>
        <div class="column-layout column-layout-1-0-8">
          <div class="row-layout row-layout-1-4-5">
            <igc-rating [(ngModel)]="ngModel6" class="rating-1-7"></igc-rating>
            <p class="ig-typography__body-2 content">
              (401)
            </p>
          </div>
          <h6 class="content">
            $49.99
          </h6>
        </div>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="contained" type="button" class="feature-button-1">
            <igx-icon>
              add_shopping_cart
            </igx-icon>
            <span>Add to cart</span>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
  </div>
  <div class="row-layout group_3">
    <igx-card class="kanban-task-card-1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar initials="MT" shape="circle"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Launch Campaign
        </h3>
        <h5 igxCardHeaderSubtitle>
          Marketing Team
        </h5>
      </igx-card-header>
      <igx-card-content>
        <div class="column-layout kanban-task-card-1-column-layout">
          <div class="column-layout group_4">
            <p class="ig-typography__body-2 content">
              Plan and execute the new product launch campaign.
            </p>
          </div>
          <div class="row-layout kanban-task-card-1-row-layout">
            <p class="ig-typography__body-2 content">
              Today
            </p>
            <igx-badge type="success" value="Low" class="kanban-task-card-1-badge"></igx-badge>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="kanban-task-card-1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar initials="PD" shape="circle"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Fix Bug
        </h3>
        <h5 igxCardHeaderSubtitle>
          Product Development
        </h5>
      </igx-card-header>
      <igx-card-content>
        <div class="column-layout kanban-task-card-1-column-layout">
          <div class="column-layout group_4">
            <p class="ig-typography__body-2 content">
              Address critical bug reported by users in the latest release.
            </p>
          </div>
          <div class="row-layout kanban-task-card-1-row-layout">
            <p class="ig-typography__body-2 content">
              Tomorrow
            </p>
            <igx-badge type="warning" value="Medium" class="kanban-task-card-1-badge"></igx-badge>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="kanban-task-card-1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar initials="SA" shape="circle"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Client Meeting Prep
        </h3>
        <h5 igxCardHeaderSubtitle>
          Sales
        </h5>
      </igx-card-header>
      <igx-card-content>
        <div class="column-layout column-layout-1-0-8">
          <div class="column-layout group_5">
            <p class="ig-typography__body-2 content">
              Prepare presentation and materials for the upcoming client meeting. Further details about the client meeting preparations. Further details about the client meeting preparations.
            </p>
          </div>
          <div class="row-layout kanban-task-card-1-row-layout">
            <p class="ig-typography__body-2 content">
              Yesterday
            </p>
            <igx-badge type="error" value="High" class="kanban-task-card-1-badge"></igx-badge>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
  </div>
</div>
