:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 320px;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
